@import url('https://fonts.googleapis.com/css2?family=Changa&family=Contrail+One&family=Reenie+Beanie&display=swap');
h1
{
  font-family: 'Contrail One', cursive;
  text-align: center;
  text-shadow: blue;
  color:red;
}
p
{
font-size: 150%;
text-align: center;
text-shadow: blue;
color:gold;
}
h2
{
  font-family: 'Contrail One', cursive;
  text-align: center;
  color: red;
  
}
h3{
   font-family: 'Contrail One', cursive;
  text-align: center;
  color:red;
}
body
{
  padding-top: 11cm;
   background-image: url("../pics/post3.jpg");
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}