
body
{
  background-image: url("../pics/store2.jpg" );
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
h1{
  text-align: center;
}
h2
{
  text-align: center;
  margin-left: 1.5cm;
  padding-top: 600px;
  color: rgb(39, 56, 6) ;
}
