@keyframes flash
{
  0%   {background-color:white}
  25%  {background-color:black}
  50%  {background-color:white }
  75%  {background-color:black}
  100% {background-color:white}
}

h1
{
text-align: center;
text-shadow: blue;
}
p
{
text-align: center;
text-shadow: blue;
background-color: red;
}
h2
{
text-align: center;
}
body
{
 animation-name: flash;
  animation-duration: 3s;
  background-image:url("/pics/planes.jpg");
   height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  border: black;
  text-align: center;
}